<form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column">
    <mat-dialog-content>
        <div class="mat-dialog-login" fxLayout="row">
            <div fxFlex="100">

                <div fxLayout="column">
                    <mat-form-field class="form-group" fxFlex="50">
                        <input matInput
                               placeholder="Username"
                               class="form-control"
                               formControlName="username">

                        <mat-error *ngIf="loginForm.get('username').invalid">{{getRequiredMessage()}}</mat-error>

                    </mat-form-field>

                    <mat-form-field class="form-group" fxFlex="50" fxFlexOffset="15">
                        <input matInput placeholder="Password"
                               class="form-control"
                               formControlName="password"
                               [type]="hide ? 'password' : 'text'">

                        <mat-error *ngIf="loginForm.get('password').invalid">{{getRequiredMessage()}}</mat-error>

                        <mat-icon style="font-size: 100%" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                    </mat-form-field>

                    <span [hidden]="!errorMessage.length" class="dark-mat-warn">
                        {{getErrorMessage()}}
                    </span>

                </div>

            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>

        <button mat-raised-button color="primary" type="submit">Login</button>
        <button type="button" mat-button (click)="onNoClick()">Cancel</button>

    </mat-dialog-actions>
</form>