<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tny.Click</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <app-root></app-root>
    {% render_bundle 'inline' %}
    {% render_bundle 'polyfills' %}
    {% render_bundle 'styles' %}
    {% render_bundle 'vendor' %}
    {% render_bundle 'main' %}
</body>

</html>
