@import '~@angular/material/theming';

@include mat-core();

$dark-primary: mat-palette($mat-blue, 700, 300, 900);
$dark-accent: mat-palette($mat-blue-grey, 400);
$dark-warn: mat-palette($mat-red, 500);

$dark-theme: mat-dark-theme(
  $dark-primary,
  $dark-accent,
  $dark-warn
);
// Include the default theme styles.
@include angular-material-theme($dark-theme);
