@import '~@angular/material/theming';
@include mat-core();
$dark-primary: mat-palette($mat-blue, 700, 300, 900);
$dark-accent: mat-palette($mat-blue-grey, 400);
$dark-warn: mat-palette($mat-red, 500);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn); // Include the default theme styles.
@include angular-material-theme($dark-theme);
@mixin material-dark-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  header {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: mat-color($primary);
  }

  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: mat-color($background, background);
  }

  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .upload-zone {
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px dotted #0782d0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@include material-dark-theme($dark-theme);
