<mat-drawer-container class="example-container" fxLayout="column" fxLayoutAlign=" stretch">

    <mat-drawer mode="side">

    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxLayoutAlign="stretch">

        <header class="mat-header">
            <div class="mat-header-section">
                <h1 class="mat-h1">Tny.Click</h1>
                <h2 class="mat-h2">Image Uploading Service</h2>

                <div class="button-container">
                    <app-login-button></app-login-button>
                    <button mat-raised-button color="accent" (click)="openDialog()" *ngIf="hasToken">Upload Image
                    </button>
                </div>
            </div>
        </header>
        <app-upload></app-upload>

    </mat-drawer-content>
</mat-drawer-container>
